/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;

}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

a {
    all: unset;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('assets/fonts/Norse-Bold.otf');
}

@font-face {
    font-family: Roboto;
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.landing-container {
    background: no-repeat center/cover url("assets/bg.jpg");

    width: 30%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin-top: 20vh;
    padding: 2vh;

    font: 6rem 'Norse Bold', sans-serif;
    background-color: rgba(0,0,0,.6);
    color: white;
}

.logo img {
    width: 6rem;
}

.disclaimer {
    color: white;
    font: 1rem Roboto;

    text-align: center;

    margin: 2vh;
}

.disclaimer a {
    text-decoration: underline;
}

.content-container {
    display: flex;
    flex-direction: column;

    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: #f9fafb;
}

.content {
}

.slogan {
    width: 65%;
    margin: 8rem 0 3rem 2rem;
}

.slogan h2 {
    margin-top: 1rem;
}

.form-container {
    background-color: #fff;

    padding: 1.25rem 0 1.25rem 0;

    box-shadow: 0px 12px 36px -8px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 12px 36px -8px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 12px 36px -8px rgba(0,0,0,0.32);
}

.form {
    margin: 0 0 0 2rem;

    color: #262e3c;
}

.inputs {
    width: 50%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 7rem;
}

.input-row {
    display: flex;
    flex-direction: row;

    gap: 0 4rem;
}

form {
    padding: 1.5rem 0 1.5rem 0;
}

form label {
    font-size: 0.8rem;
    font-weight: 600;
    
    text-transform: uppercase;
    
    letter-spacing: 0.15rem;
    word-spacing: 0.225rem;

    display: block;
}

input {
    width: 18rem;
    border: 1px solid #E5E7EB;
    border-radius: 4px;

    padding: 0.25rem;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.32);
    -webkit-box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.32);
}

.footer {
    margin: 3rem 0 0 2rem;
}

.footer button {
    border: 0;

    width: 16rem;
    height: 3rem;

    background-color: #596D48;
    color:  #fff;
    border-radius: 4px;
    
    font-size: 1.1rem;
    font-weight: bolder;

    box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.52);
    -webkit-box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.52);
}

.footer button:focus {
    cursor: pointer;
}

.footer .login {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.footer a {
    color: #596D48;
}

.footer a:focus {
    cursor: pointer;
}